<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default Bookmark Guid</key>
	<string>76D74382-72E5-4813-9114-1F3369147C88</string>
	<key>LoadPrefsFromCustomFolder</key>
	<true/>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Blur</key>
			<true/>
			<key>Blur Radius</key>
			<real>20</real>
			<key>Columns</key>
			<integer>140</integer>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Guid</key>
			<string>76D74382-72E5-4813-9114-1F3369147C88</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Name</key>
			<string>Space Station</string>
			<key>Normal Font</key>
			<string>JetBrainsMonoNerdFontComplete-Regular 14</string>
			<key>Rows</key>
			<integer>40</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>0.83529412746429443</real>
				<key>Red Component</key>
				<real>0.70980393886566162</real>
			</dict>
			<key>Transparency</key>
			<real>0.15</real>
			<key>Unicode Version</key>
			<integer>9</integer>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1</real>
		</dict>
	</array>
	<key>NoSyncNeverRemindPrefsChangesLostForFile</key>
	<true/>
	<key>PrefsCustomFolder</key>
	<string>/Users/zak/coagency/space-station/iterm2</string>
</dict>
</plist>
